<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="memory_limit" value="1G" />
    </php>
    <coverage processUncoveredFiles="true">
        <reporting>
            <clover outputFile="build/logs/clover.xml"/>
        </reporting>
    </coverage>
</phpunit>
